---
const classes = Astro.props["class:list"];

console.log(classes);
---

<div
  class:list={[
    "rounded-xl shadow-md bg-white p-5 border-primary dark:border-secondary h-100 mb-4",
    classes && classes[0],
  ]}
>
  <slot />
</div>
