---
const classList = Astro.props["class:list"];
---

<div
  class:list={[
    "rounded-xl shadow-md bg-white p-5 border-gray-300 dark:border-gray-600 h-100 mb-4",
    ...classList,
  ]}
>
  <slot />
</div>
