---
import Sidenav from "../components/Sidenav.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="antialiased bg-gray-50 dark:bg-gray-900">
			<Nav />
			<Sidenav />
			<slot>
				<Main />
			</slot>
		</div>
	</body>
</html>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"
></script>
