---
import MasterLayout from "../layouts/MasterLayout.astro";
import Table from "../components/Table.astro";
---

<MasterLayout title="dashboard">
    <h1>Dashboard</h1>
    <Table />
</MasterLayout>
