---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import CustomHeader from "../components/CustomHeader.astro";

// import Layout from "../layouts/MasterLayout.astro";

/* Check if the user is authenticated */
const auth = getAuth(app);
const sessionCookie = Astro.cookies.get("session").value;
if (sessionCookie) {
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  if (decodedCookie) {
    return Astro.redirect("/dashboard");
  }
}
---

<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Login Form</title>
  </head>
  <body class="bg-gray-200 h-screen">
    <CustomHeader>Dashboard 09</CustomHeader>
    <div class="flex items-center justify-center">
      <div class="bg-white p-8 rounded-2xl shadow-md w-72">
        <h2 class="text-2xl font-bold mb-6">Sign in</h2>

        <form action="/api/auth/signin" method="post">
          <label for="email" class="block mb-1">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="w-full px-4 py-2 border rounded-xl mb-4"
            required
          />
          <label for="password" class="block mb-1">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="w-full px-4 py-2 border rounded-xl mb-4"
            required
          />
          <button
            id="loginButton"
            type="submit"
            class="w-full bg-blue-600 text-white py-2 px-4 rounded-xl hover:bg-blue-700 transition"
          >
            <i class="fas fa-spinner fa-spin mr-2 hidden" id="spinner"></i>
            Login
          </button>
        </form>
      </div>
    </div>
  </body>
</html>

<script>
  import {
    getAuth,
    inMemoryPersistence,
    signInWithEmailAndPassword,
  } from "firebase/auth";
  import { app } from "../firebase/client";

  const auth = getAuth(app);
  // This will prevent the browser from storing session data
  auth.setPersistence(inMemoryPersistence);
  const spinner = document.getElementById("spinner") as HTMLBaseElement;

  const form = document.querySelector("form") as HTMLFormElement;
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    spinner.classList.remove("hidden");

    const formData = new FormData(form);
    const email = formData.get("email")?.toString();
    const password = formData.get("password")?.toString();

    if (!email || !password) {
      return;
    }
    const userCredential = await signInWithEmailAndPassword(
      auth,
      email,
      password
    );
    const idToken = await userCredential.user.getIdToken();
    const response = await fetch("/api/auth/signin", {
      method: "GET",
      headers: {
        Authorization: `Bearer ${idToken}`,
      },
    });

    if (response.redirected) {
      window.location.assign(response.url);
    }
  });
</script>
